<section class="max-w-6xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-slate-800 mb-4 text-center">Bienvenido de MultiReloj</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam expedita hic quisquam ea deserunt corrupti. Consectetur sequi nihil cumque doloremque corrupti maiores, aperiam dolor impedit facere in non dicta voluptatem?</p>
    <button (click)="irAlarma()" class="bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded">Ir a alarma</button>
</section>