<div class="flex flex-wrap gap-4 justify-center">
  <button (click)="accelerate.emit()"
          class="bg-cyan-600 text-white px-5 py-2 rounded-xl shadow-md hover:bg-cyan-700 transition">
        Acelerar
  </button>

  <button (click)="brake.emit()"
          class="bg-cyan-600 text-white px-5 py-2 rounded-xl shadow-md hover:bg-cyan-700 transition">
        Frenar
  </button>

  <button (click)="reset.emit()"
          class="bg-slate-600 text-white px-5 py-2 rounded-xl shadow-md hover:bg-slate-700 transition">
        Reiniciar
  </button>
</div>
