<header>
    <h1 class="text-3xl">My Application</h1>
    <nav class="bg-gray-800 text-white p-4 decoration-none">
        <ul class="flex space-x-4">
            <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="hover:underline">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active" class="hover:underline">About</a></li>
            <li><a routerLink="/products" routerLinkActive="active" class="hover:underline">Products</a></li>
            <li><a routerLink="/temporizador" routerLinkActive="active" class="hover:underline">Temporizador</a></li>
        </ul>
    </nav>
</header>